#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  padding: 10px;
  color: white;
  background-color: red;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  }